:root{
    --blue: #2D4059;
    --red: #EA5455;
    --poppins: 'Poppins', sans-serif;
}

.header-container-icons{
    display: none;
}
nav {
    top: 0;
    border-bottom: 1px solid rgb(177, 177, 177);
}
.nav-mobile {
    display: none;
}
.nav-desktop {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.nav-desktop ul {
    width: 75%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration-line: none;
}
.nav-desktop ul li a {
    font-size: 2rem;
    font-weight: bold;
    color: var(--blue);
    text-decoration: none;  
}
.nav-desktop ul li:link {
    color: var(--blue);
    text-decoration: none;
}

.home {
    padding-top: 50px;
}
.home-container-icons {
    row-gap: 10px;
}
.home-container-img {
    width: 20%;
    grid-column: 1/3;
    grid-row: 1/3;
    justify-self: center;
}
.home-container-img  img{
    width: 100%;
}
.home-container-text {
    row-gap: 5px;
}
.home-container-text h1 {
    font-size: 4rem;
}
.home-container-text h3 {
    font-size: 3rem;
    line-height: 35px;
}
.home-container-text p {
    font-size: 2rem;
}

.profile {
    padding-top: 25px;
}
.profile h2{
    margin-top: 0px;
}

.study {
    padding-top: 25px;
}
.study-modal img {
    width: 0%;
}
.study-modal figure {
    width: 50%;
}

.portfolio {
   margin-bottom: 70px;
   padding-top: 30px;
}
.portfolio-item {
    width: 400px;
    padding: 25px;
}
.portfolio-item a{
    margin-top: 10px;
}
