:root{
    --blue: #2D4059;
    --red: #EA5455;
    --poppins: 'Poppins', sans-serif;
}

.header-container-icons{
    display: none;
}
nav {
    top: 0;
    border-bottom: 1px solid rgb(177, 177, 177);
}
.nav-mobile {
    display: none;
}
.nav-desktop {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.nav-desktop ul {
    width: 75%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration-line: none;
}
.nav-desktop ul li a {
    font-size: 2rem;
    font-weight: bold;
    color: var(--blue);
    text-decoration: none;  
}
.nav-desktop ul li:link {
    color: var(--blue);
    text-decoration: none;
}
.home-container-img {
    width: 75%;
}
.home-container-text h1 {
    font-size: 4rem;
}
.home-container-text h2 {
    font-size: 2rem;
}
.home-container-text  {
    font-size: 2rem;
}

.profile {
    margin-top: 100px;
}

.study-modal img {
    width: 0%;
}
.study-modal figure {
    width: 50%;
}

.portfolio {
   margin-bottom: 100px;
}
.portfolio-item {
    width: 400px;
    padding: 25px;
}
.portfolio-item a{
    margin-top: 10px;
}
