:root{
    --blue: #2D4059;
    --red: #EA5455;
    --poppins: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    background-color: ghostwhite;
}

header {
    position: fixed;
    display: grid;
    grid-template-rows: 1fr auto;
    width: 100%;
}
.header-container-icons {
    position: fixed;
    bottom: -100vh;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    column-gap: 40px;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    border-top: 2px solid rgb(226, 226, 226);
    border-radius: 25px 25px 0 0;
    height: 25vh;
    z-index: 2;
    transition: .3s;
}
header i {
    font-size: 3.8rem;
    color: var(--red);
}

nav {
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0;
    z-index: 1;
}
.nav-close {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    justify-self: center;
    font-size: 3rem;
}
nav i {
    font-size: 2.5rem;
}
nav p {
    font-size: 1.6rem;
    color: var(--blue);
    font-weight: 900;
}
.show-menu {
    bottom: 0;
}

.home {
    height: 94vh;
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-template-rows: 1fr auto;
}
.home-container-icons {
    display: flex;
    row-gap: 40px;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}
.home-container-icons i{
    font-size: 2.5rem;
    color: var(--red);
}
.home-container-img {
    display: grid;
    justify-items: center;
    align-items: center;
}
.home-container-img img{
    width: 80%;
    box-shadow: 8px 8px 0 6px var(--red);
    animation: profile_animate 8s ease-in-out infinite;
}
@keyframes profile_animate {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
.home-container-text {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 15px;
    display: grid;
    justify-items: center;
}
.home-container-text h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 900;
    color: var(--blue);
}
.home-container-text h3 {
    font-size: 2.0rem;
    text-align: center;
    color: var(--blue);
}
.home-container-text p {
    font-size: 1.8rem;
    text-align: center;
}
.home-container-text button {
    width: 200px;
    height: 50px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    margin-top: 15px;
    background-color: var(--red);
    color: #fff;
}

.profile, .study {
    margin-bottom: 10vh;
}
.profile p, .study p {
    font-size: 1.8rem;
    margin-top: 3px;
    font-weight: 400;
    text-align: center;
}
.profile h2, .study h2, .portfolio h2{
    font-size: 2rem;
    margin-top: 18px;
    color: var(--blue);
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 5px;
}
.profile h3, .study h3 {
    font-size: 1.8rem;
    margin-top: 8px;
    color: var(--blue);
    text-align: center;
}

.study-card-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 4px;
    grid-auto-flow: column;
    justify-items: center;
    margin-top: 35px;
}
.study-card {
    width: 95%;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0 15px;
    border: 1px solid rgb(233, 233, 233);
}
.study-card h2 {
    text-decoration: none;
    margin: 0;
}
.study-card i{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}
.study-card button {
    width: 80%;
    margin: 0 auto;
    border: none;
    background-color: var(--red);
    height: 30px;
    font-size: 1.8rem;
    font-family: var(--poppins);
    font-weight: 700;
    color: #fff;
    border-radius: 15px;
}
.study-modal {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}
.study-modal figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 90%;
    height: auto;
    border-radius: 25px;
}
.study-card i {
    color: var(--red);
    font-size: 4rem;
}
.study-modal figure img {
    width: 85%;
    align-self: center;
}
.active-modal {
    opacity: 1;
    visibility: visible;
}

.portfolio-carrusel-container {
    display: grid;
    grid-auto-flow: column;
    column-gap: 50px;
    margin: 50px 0 70px;
    padding: 0 50px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.portfolio-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(233, 233, 233);
    scroll-snap-align: center;
}
.portfolio-item h3 {
    font-size: 2rem;
    color: var(--blue);
}
.portfolio-img{
    width: 100%;
}
.portfolio-item a{
    font-size: 1.8rem;
    text-decoration: none;
    background-color: var(--red);
    width: 70%;
    text-align: center;
    font-weight: 700;
    color: #fff;
    border-radius: 25px;
}